.inputs {
    position: absolute;
    top: 0;
    right: 0;
    width: 12rem;
    z-index: 10;
    margin: 2rem 3rem;
}

.inputs input,
#seg-ratio {
    margin-bottom: 1.8rem;
} 

.btn-type-1 {
   font-family: 'monospace';
   font-size: 0.8rem;
   cursor: pointer;
   color: var(--font-color-1);
   border: 2px solid lightgray;
   padding: .5rem .7rem;
   border-radius: 3rem;
   text-align: center;
   transition: .4s border, .4s color;
}

.btn-type-1:hover {
   color: var(--active-color);
}

.btn-type-1.active {
   border-color: var(--active-color);
   color: var(--active-color);
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background-color: darkgrey;
    box-shadow: 1px 2px 2px #d3d3d3;
    cursor: pointer;
    height: 2px;
    width: 100%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: black;
    border-radius: 2px;
    cursor: pointer;
    height: 14px;
    width: 4px
}